@tailwind base;
@tailwind components;
@tailwind utilities;



.global-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
}
.global-modal .modal-header {
    background-color: #00ced1;
    padding: 10px 20px;
}
.global-modal .modal-body {
    padding: 20px;
}
.global-loader {
    width: 400px;
    margin: 0 auto;
}
.global-loader p {
    text-align: center;
}
.utility-table {
    border-radius: 10px;
}
.utility-table thead tr {
    border-radius: 10px;--tw-bg-opacity: 1;
    background-color: rgb(15 118 110 / var(--tw-bg-opacity));
}
.utility-table thead tr th {
    color: #fff;
    font-weight: bold;
}

.utility-pagination .css-1hskriy {
    width: 300px;
}