@tailwind base;
@tailwind components;
@tailwind utilities;



.global-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}
.global-modal .modal-header {
    background-color: #00ced1;
    padding: 10px 20px;
}
.global-loader {
    width: 400px;
    margin: 0 auto;
}
.global-loader p {
    text-align: center;
}
.utility-table {
    border-radius: 10px;
}
.utility-table thead tr {
    border-radius: 10px;--tw-bg-opacity: 1;
    background-color: rgb(15 118 110 / var(--tw-bg-opacity));
}
.utility-table thead tr th {
    color: #fff;
    font-weight: bold;
}

.utility-pagination .css-1hskriy {
    width: 300px;
}

.main-public-header {
    background-color: transparent;
    z-index: 2;
}

.main-public-header .header-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-between;
}

.main-public-header .header-logo,
.main-public-header .header-auth-items ul,
.main-public-header .header-items ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
}

.main-public-header .header-items ul {
    gap: 25px;
}
.main-public-header .header-auth-items ul {
    gap: 25px;
}

.main-public-header .header-items {
    display: flex;
}
.main-public-header li {
    color: #fff;
    
}
.main-public-header .header-logo {
    margin-right: 30px;
}

.image-uploader {
    border: 2px dashed rgb(15 118 110 / var(--tw-bg-opacity));
    height: 200px;
    width: 330px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 300ms;
}
.image-uploader.image-uploader-active {
    border: none;
}
.image-uploader:hover { 
    background-color: red;
    transition: all 300ms;
}

.image-uploader input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    border-radius: 20px;
}
.image-uploader .image-uploaded {
    position: absolute;
    width: 100%;
    height: 100%;
}
.image-uploader .image-uploaded img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.image-uploader .image-uploaded button {
    background-color: red;
    position: absolute;
    bottom: 0;
    color: white;
    border-radius: 0 20px 0 20px;
    padding: 10px;
    transition: all 300ms;
    z-index: 3;
}
.image-uploader .image-uploaded button:hover {
    background-color: beige;
    transition: all 300ms;
}
.image-uploader.image-looked input {
    display: none;
}

.image-uploader.image-looked:hover,
.image-uploader.image-looked {
    background-color: none; 
    border: none;
}

.homepage-header {
    height: 500px;
    width: 100%;
    display: flex;
    top: -100px;
    position: relative;
    z-index: 1;
    padding-top: 60px;
}
.homepage-header .homepgape-header-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.homepage-header .header-content {
    color: #fff;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 370px;
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    margin-top: -55px;
}
.main-content h1 { 
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.cards-container {
    gap: 30px;
}
.cards-container .single-card { 
    max-width: 380px;
}
.cards-container .single-card .bg-card-image { 
    background-image: url(https://t4.ftcdn.net/jpg/02/93/45/53/360_F_293455360_Wgg66dkVOAXPrczm01HWIeh0c3mGeub0.jpg);
}
.back-cta {
    border: 2px solid white;
    border-radius: 15px;
    width: 54px;
    display: flex;
    top: -45px;
    position: relative;
}
.back-cta:hover {
    background-color: #fff;
    color: #000;
}
.auto-page-colores {
    display: flex;
    gap: 10px;
}
.auto-page-colores img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.option-selector {
    border: 3px solid black;
    border-radius: 50px;
    transition: all 300ms;
}
.option-selector.selected {
    border: 3px solid yellow;
    transition: all 300ms;
}